rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Allow read and write for the company branch HR data
    match /company_app_data/{document=**} {
      allow read, write: if true;
    }
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
